{% extends "base.html" %}

{% block title %} Contratos de Trabajo {% endblock %} 

{% block content %}

<section class="py-5">
    <div class="container px-5">
        <!-- Form -->
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-briefcase"></i></div>
                <h1 class="fw-bolder">Contrato Individual de Trabajo</h1>
                <p class="lead fw-normal text-muted mb-0">Contrato por Tiempo Determinado, definiendo las obligaciones y 
                responsabilidades del trabajador y el patron.</p>
            </div>
        </div>
        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% if success_message %}
        <p><strong>{{ success_message }}</strong></p>
        {% endif %}
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <form id="form" action="{% url 'handle_form_submission' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Paso 1. Informacion general</legend>
                        <label for="contractDate">Fecha del contrato:</label>
                        <input type="date" id="contractDate" name="contractDate" required/><br />

                        <label for="city">Ciudad:</label>
                        <input type="text" id="city" name="city" required/><br />

                        <label for="state">Estado:</label>
                        <input type="text" id="state" name="state" required/><br />

                        <label for="probationDays">Dias de Prueba:</label>
                        <input type="number" id="probationDays" name="probationDays" required/><br />

                        <button onclick="next()">Siguiente</button>
                    </fieldset>

                    <fieldset>
                        <legend>Paso 2. Datos del patron</legend>
                        <label for="businessName">Razon Social:</label>
                        <input type="text" id="businessName" name="businessName" required/><br />

                        <label for="street">Calle:</label>
                        <input type="text" id="street" name="street" required/><br />

                        <label for="colony">Colonia:</label>
                        <input type="text" id="colony" name="colony" required/><br />

                        <label for="extNumber">Num Exterior:</label>
                        <input type="number" id="extNumber" name="extNumber" required/><br />

                        <label for="intNumber">Num Interior:</label>
                        <input type="number" id="intNumber" name="intNumber"/><br />

                        <label for="postalCode">Codigo Postal:</label>
                        <input type="number" id="postalCode" name="postalCode" required/><br />

                        <label for="businessState">Estado:</label>
                        <input type="text" id="businessState" name="businessState" required/><br />

                        <label for="businessCity">Ciudad:</label>
                        <input type="text" id="businessCity" name="businessCity" required/><br />

                        <button onclick="prev()">Regresar</button>
                        <button onclick="next()">Siguiente</button>
                    </fieldset>

                    <fieldset>
                        <legend>Paso 3. Datos del empleado</legend>
                        <label for="fatherLastName">Apellido Paterno:</label>
                        <input
                        type="text"
                        id="fatherLastName"
                        name="fatherLastName"
                        required
                        />
                        <br />
                        <label for="motherLastName">Apellido Materno:</label>
                        <input
                        type="text"
                        id="motherLastName"
                        name="motherLastName"
                        required
                        />
                        <br />
                        <label for="employeeName">Nombre:</label>
                        <input type="text" id="employeeName" name="employeeName" required />
                        <br />
                        <label>Sexo:</label>
                        <input
                        type="radio"
                        id="masculino"
                        name="gender"
                        value="masculino"
                        required
                        />
                        <label for="masculino">Masculino</label>
                        <input
                        type="radio"
                        id="femenino"
                        name="gender"
                        value="femenino"
                        required
                        />
                        <label for="femenino">Femenino</label>
                        <br />
                        <label for="age">Edad:</label>
                        <input type="number" id="age" name="age" required />
                        <br />
                        <label for="curp">CURP:</label>
                        <input type="text" id="curp" name="curp" required />

                        <button onclick="prev()">Regresar</button>
                        <button onclick="next()">Siguiente</button>
                    </fieldset>

                    <fieldset>
                        <legend>Paso 4. Datos del puesto</legend>
                        <label for="position">Puesto:</label>
                        <input type="text" id="position" name="position" required />
                        <br />
                        <label for="salary">Salario:</label>
                        <input type="number" id="salary" name="salary" required />
                        <br />
                        <label>Plazo de Pago:</label>
                        <br />
                        <input
                        type="radio"
                        id="quincenal"
                        name="payment"
                        value="quincenal"
                        required
                        />
                        <label for="quincenal">Quincenal</label>
                        <br />
                        <input
                        type="radio"
                        id="semanal"
                        name="payment"
                        value="semanal"
                        required
                        />
                        <label for="semanal">Semanal</label>
                        <br />
                        <label for="bonus">Días de aguinaldo:</label>
                        <input type="number" id="bonus" name="bonus" required />
                        <br />
                        <label for="entryTime">Horario de entrada:</label>
                        <input type="time" id="entryTime" name="entryTime" required />
                        <br />
                        <label for="departureTime">Horario de salida:</label>
                        <input type="time" id="departureTime" name="departureTime" required />
                        <br />
                        <label>Días de trabajo:</label>
                        <br />
                        <input type="checkbox" id="lunes" name="workDays" value="lunes" />
                        <label for="lunes">Lunes</label>
                        <br />
                        <input type="checkbox" id="martes" name="workDays" value="martes" />
                        <label for="martes">Martes</label>
                        <br />
                        <input type="checkbox" id="miercoles" name="workDays" value="miercoles" />
                        <label for="miercoles">Miércoles</label>
                        <br />
                        <input type="checkbox" id="jueves" name="workDays" value="jueves" />
                        <label for="jueves">Jueves</label>
                        <br />
                        <input type="checkbox" id="viernes" name="workDays" value="viernes" />
                        <label for="viernes">Viernes</label>
                        <br />
                        <input type="checkbox" id="sabado" name="workDays" value="sabado" />
                        <label for="sabado">Sábado</label>
                        <br />
                        <input type="checkbox" id="domingo" name="workDays" value="domingo" />
                        <label for="domingo">Domingo</label>
                        <br />
                            
                        <button onclick="prev()">Regresar</button>
                        <button onclick="next()">Siguiente</button>
                    </fieldset>

                    <fieldset>
                        <legend>Review</legend>
                    
                        <p>Please review:</p>

                        <button onclick="prev()">Regresar</button>
                        <input type="submit" value="Terminar">
                    </fieldset>
                </form> 
                {% comment %} <div id="review" style="display: none">
                    <h2>Revisar</h2>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>

{% load static %}
<script src="{% static 'smart_legis/js/scripts.js' %}"></script>

{% endblock content %}